{% extends "_layout\\page.twig" %}


{% block title %}GRRR Error{% endblock %}
{% block content_block %}
<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-1">{{ code }}</h1>
            <p>{{ text }}</p>
            <small>{{ sub }}</small>
        </div>
    </div>
</div>
{% endblock content_block %}