<div class="loadingmask" id="loadingmask">
    <div class="loading">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner">
            <div class="rect1">L</div>
            <div class="rect2">o</div>
            <div class="rect3">a</div>
            <div class="rect4">d</div>
            <div class="rect5">i</div>
            <div class="rect6">n</div>
            <div class="rect7">g</div>
        </div>
    </div>
</div>