<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ ASSETS }}/css/styles.css">
    {% block css_block %}{% endblock %}
</head>

<body>
    {% include "_layout/navbar.twig" %}
    {% block content_block %}{% endblock content_block %}

    <script src="{{ ASSETS }}/js/libraries.js"></script>
    <script type="text/javascript">
		$.ajaxPrefilter(function(options, originalOptions, jqXHR){
			if (options.type.toLowerCase() === "post") {
				options.data = options.data || "";
				options.data += options.data?"&":"";
				options.data += "@@CSRF_NAME@@=" + encodeURIComponent('@@CSRF_TOKEN@@');
			}
		});
	</script>
    {% block script_block %}{% endblock script_block %}

    {% include "_layout/_profiler.twig" %}
    {% include "_layout/_loadingmask.twig" %}
    
    {% block templates_block %}{% endblock templates_block %}



    

</body>

</html>