{% if DEBUG %}

<button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#profiler-modal"
    id="profiler-button">
    <i class="fas fa-stopwatch"></i>
</button>



<div class="modal fade" id="profiler-modal">
    <div class="modal-dialog modal-xl modal-primary  bg-transparent" role="document">
        <div class="modal-content  bg-transparent">
            <div class="modal-body bg-transparent p-0">
                <div id="PROFILER"></div>
            </div>
        </div>
    </div>
</div>



<script type="text/x-jqote-template" id="template-profiler">
		<![CDATA[

		<table class="bg-white table table-sm text-xx-small">
			<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Component</th>
				<th>Duration</th>
				<th>Memory</th>
				<th style="width: 50%;">
					
				</th>
			</tr>
			</thead>
			<tbody>
			<% for (var i in this.items){ %>
			<tr>
				<td>
					<%= this.items[i]['count'] %>
				</td>
				<td>

					<%= this.items[i]['label'] %>


				</td>
				<td style="font-weight:bold; color: #<%= this.items[i]['colour'] %>;">
                    <%= this.items[i]['component']||'' %>
                </td>
				<td>
                    <%= this.items[i]['time']['display'] %>
                </td>
				<td>
                    <%= this.items[i]['memory']['display'] %>
                </td>
				<td  style="width: 50%; position: relative;">
                    <div style="width:<%= this.items[i]['time']['percent'] %>%; margin-left:<%= this.items[i]['time']['offset'] %>%; background: #<%= this.items[i]['colour'] %>;" class="h-100 text-center text-white ">&nbsp;</div>
				</td>
			</tr>
			
			<% } %>
			</tbody>
		</table>


		]]>
	</script>
<!--PROFILER-->
{% endif %}