#main-menu {
    @extend #{'.navbar', '.navbar-expand-lg', '.navbar-light', '.bg-light', '.border-bottom', '.fixed-top'};
    padding-top:0;
    padding-bottom:0;
    line-height: 1;
    .nav-item {
       
        &.active {
            color:#fff;
            background: $primary;
            .nav-link {
                color:#fff;
            }
        }
        .nav-link {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .navbar-text {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        
    }
    .dropdown-item {
        padding-top:0.5rem;
        padding-bottom:0.5rem;
    }
}