#system-profiler-display {
    .item {
        position:relative;
        .bar {
            opacity:0.3;
            position:absolute; 
            top:0; 
            left:0; 
            bottom:0;
        }
        .component-label {
           
        }
    }
}